.details {
  display: inline;
  &[open] .details__info {
    display: block;
    margin-top: 0.8em;
  }
}
.details__summary {
  display: inline;
  width: fit-content;
  border-bottom: 1px dashed $black;
  cursor: pointer;
  &:hover {
    border-bottom: 1px dashed $white;
  }
}