.list-define {
  margin-left: 1.5em;
}
.list-define__term {
  display: list-item;
  font-size: 125%;
  list-style: circle outside none;
}
.list-define__defines {
  margin-left: 1.5em;
  font-size: $fontSizeSmall;
}