.list-define {
  margin-left: 1.25em;
  & & {
    margin-top: 0.75rem;
  }
}
%list-define__item {
  margin-bottom: 0.75rem;
}
.list-define__term {
  @extend %list-define__item;
  margin-top: 1.7em;
  display: list-item;
  font-size: $fontSizeTitle3;
  list-style: circle outside none;
  &:first-child {
    margin-top: 0;
  }
}
.list-define__defines {  
  @extend %list-define__item;
  // font-size: $fontSizeSmall;
  &:last-of-type {    
    margin-bottom: 0;
  }
}