.title {
  font-family: $titleFontFamily;
  margin-bottom: 1.5em;
}

.title_2 {
  font-size: $fontSizeTitle2;
}
.title_3 {
  font-size: $fontSizeTitle3;
}
.title_4 {
  font-size: $fontSizeTitle4;
  font-weight: 500;
}